* {
    margin:0%;
}


body {
        background-image: url(background.jpg);
        background-color: black;
        background-size: cover;
        font-family: fantasy;
        color: white;
        background-repeat: no-repeat;
        background-position: center;
        background-repeat: no-repeat;
}

.container {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

div#copyrightPic {
    font-size: 25px;
}

div#titlePic {
    font-size: 45px;
    padding-top: 15px;
}

 #explanationPic {
    width: 50%;
    display: flex;
    margin: 15px;
}

#from-datepicker {
    font-size: 20px;
    text-align: center;
}

#topBanner {
    background: blue;
    display: flex;
    font-family: 'DotGothic16', sans-serif;
    height: 125px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    color: wheat;
}

#potdImg {
    float: left;
    width: 500px;
    height: 500px;
}

#searchPic {
    background-color: black;
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
    color: white;
    margin-left: 20px;
}

#searchVid {
    display: none;
    margin:0px;
}

ul {
    float: right;
    display: flex;
    flex-direction: column;
}

@media (max-width:400px){};
@media (min-width:400px) and (max-width:1000px){};
@media (min-width:1001px){};