* {
    margin:0%;
}


body {
   background-image: url(background.jpg);
   background-color: black;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   color: white;
}

.container {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

div#copyrightPic {
    font-size: 25px;
    margin-top: 10px;
}

div#titlePic {
    font-size: 35px;
    padding-top: 15px;
}

 #explanationPic {
    background-color: gray;
    color:black;
    display: flex;
    font-family: ui-monospace;
    font-stretch: semi-condensed;
    font-weight: bolder;
    line-height: 25px;
    margin: 15px;
    width: 50%;
}

#from-datepicker {
    font-size: 20px;
    text-align: center;
}

#goToMarsPage {
    background-color: cornflowerblue;
    bottom: 87%;
    display: flex;
    margin-left: 10px;
    position: absolute;
}

li {
    border: 2px solid white;
    background: dimgrey;
    color: black;
    font-size: 25px;
    width: 160px;
}
#oldSearch {
    bottom: 100%;
    display: flex;
    flex-direction: column;
    float: right;
    margin: 0px;
    margin-right: 75px;
    padding-bottom: 16%;
    position: sticky;
    width: 150px;
}

#potdImg {
    float: left;
    height: 500px;
    border: 5px solid whitesmoke;
    width: 550px;
}

#searchPic {
    background-color: black;
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 25px;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
    border: 2px solid white;
}


#searchVid {
    display: none;
    margin:0px;
}

#topBanner {
    align-items: center;
    background: linear-gradient(45deg, black, transparent);
    background-position: bottom;
    background-position-x: left;
    color: whitesmoke;
    display: flex;
    font-size: 60px;
    height: 125px;
    justify-content: center;
    width: 100%;
}

ul {
    display: flex;
    float: right;
    flex-direction: column;
}

@media (max-width:400px){
    #topBanner {
        display:none;
    }

    div#titlePic {
        font-size: 27px;
        padding-top: 75px;
    }

    #goToMarsPage {
        background-color: cornflowerblue;
        bottom: 96%;
        display: flex;
        margin-left: 1px;
        position: absolute;
    }

    #potdImg {
        float: left;
        height: 370px;
        border: 5px solid whitesmoke;
        width: 370px;
    }

    #explanationPic {
        background-color: gray;
        color: black;
        display: flex;
        font-family: ui-monospace;
        font-stretch: semi-condensed;
        font-weight: bolder;
        line-height: 25px;
        margin: 15px;
        width: 375px;
    }

    #oldSearch {
        display:none;
    }

    #searchPic {
        background-color: black;
        width: 64%;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 25px;
        color: white;
        margin-left: 120px;
        margin-top: 10px;
        border: 2px solid white;
    }
    
}
@media (min-width:401px) and (max-width:1000px){
    #topBanner {
        display:none;
    }

    #oldSearch {
        display:none;
    }

    div#titlePic {
        font-size: 25px;
        padding-top: 15px;
    }
    
    #goToMarsPage {
        background-color: cornflowerblue;
        bottom: 96%;
        display: flex;
        margin-left: 1px;
        position: absolute;
    }

    #potdImg {
        float: left;
        height: 483px;
        border: 5px solid whitesmoke;
        width: 405px;
        margin-right: -20px;
    }

    #searchPic {
        background-color: black;
        width: 64%;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 25px;
        color: white;
        margin-left: 120px;
        margin-top: 10px;
        border: 2px solid white;
    }
    
    #explanationPic {
    background-color: gray;
    color: black;
    display: flex;
    font-family: ui-monospace;
    font-stretch: semi-condensed;
    font-weight: bolder;
    line-height: 25px;
    width: 400px;
    margin-left: 35px;
    }
}
@media (min-width:1001px){};